@media (min-width: 801px) and (max-width: 950px) {
    .container {
        margin: 0 25px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .imagemFantasmas {
        width: 300px;
        height: 221px;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .cabecalho {
        margin: 14px 25px 26px 25px;
    }

    div img {
        width: 100px;
        height: 48px;
        margin-left: 25px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .container {
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .content {
        margin-top: 30px;
    }

    .btns {
        width: 400px;
        height: 45px;
        margin-bottom: 50px;
    }

    .btn {
        display: flex;
        margin-top: 30px;
        width: 225px;
        height: 45px;
    }

    .imagemFantasmas {
        width: 300px;
        height: 221px;
        margin-left: 70px;
    }
}

@media (min-width: 415px) and (max-width: 600px) {
    .cabecalho {
        margin: 14px 25px 26px 25px;
    }

    .container {
        margin: 0 25px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 364px;
        height: 246px;
        margin-bottom: 58px;
        margin-top: 10px;
    }

    div img {
        width: 100px;
        height: 48px;
        margin-left: 25px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .imagemFantasmas {
        width: 300px;
        height: 221px;
        margin-left: 70px;
    }

    .nomeDoDiretor {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .nomeDoFilme {
        font-size: 56px;
        margin-bottom: 16px;
    }

    .btns {
        width: 225px;
        height: 45px;
    }

    .btn {
        margin-top: 58px;
    }

    .btn:nth-child(2) {
        display: none;
    }
}

@media (max-width: 414px) {
    .cabecalho {
        margin: 14px 20px 26px 20px;
    }

    .container {
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 350px;
        height: 246px;
        margin-bottom: 58px;
        margin-top: 10px;
    }

    div img {
        width: 100px;
        height: 48px;
        margin-left: 25px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .imagemFantasmas {
        display: none;
    }

    .nomeDoDiretor {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .nomeDoFilme {
        font-size: 56px;
        margin-bottom: 16px;
    }

    .btns {
        width: 225px;
        height: 45px;
    }

    .btn:nth-child(2) {
        display: none;
    }
}