@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f9f9f9;
}

body {
    background: linear-gradient(90deg, #628E75, #1A4855);
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 41px 165px 75px 165px;
}

.mediaSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.icon {
    cursor: pointer;
}

div img {
    margin-left: 30px;
}

.container {
    margin: 0 165px;
    display: flex;
    justify-content: space-between;
}

.imagemFantasmas {
    background: url(../img/ilustracao.png) 100% 0 no-repeat;
    background-size: cover;
    width: 500px;
    height: 370px;
}

.content {
    width: 445px;
    height: 304px;
    margin-bottom: 45px;
}

.nomeDoDiretor {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.nomeDoFilme {
    font-weight: 900;
    font-size: 68px;
    line-height: 109%;
    margin-bottom: 25px;
}

.descricaoDoFilme {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

span {
    margin-right: 10px;
    font-size: 25px;
}

.btns {
    display: flex;
    width: 450px;
    height: 45px;
}

.btn {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #658e76;
    color: #f9f9f9;
    width: 225px;
    height: 45px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.btn:nth-child(2) {
    background-color: transparent;
    border: 3px solid #658e76;
}